/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
@media (prefers-color-scheme: light) {
  :root {
    --main-bg: repeating-linear-gradient(
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  }

  .filter-theme {
    transition: 3s ease;
    filter: hue-rotate(0.9turn);
  }
  .filter {
    filter: hue-rotate(0.4turn) invert(90%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --button-color: #00cc14;
    --card-text-weight: 465;
    --card-header-weight: 785;
    --main-bg: repeating-linear-gradient(
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
  }

  .filter-theme {
    transition: 3s ease;
    filter: hue-rotate(0.1turn);
  }

  .filter {
    filter: hue-rotate(0turn) invert(0%);
  }
}

.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --button-color: #fff;
  --main-bg: repeating-linear-gradient(
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --button-color: #00cc14;
  --card-text-weight: 465;
  --card-header-weight: 785;
  --main-bg: repeating-linear-gradient(
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
}

.theme-light .filter-theme {
  transition: 3s ease;
  filter: hue-rotate(0.9turn);
}

.theme-light .filter {
  filter: hue-rotate(0.4turn) invert(90%);
}

.theme-dark .filter-theme {
  transition: 3s ease;
  filter: hue-rotate(0.1turn);
}

.theme-dark .filter {
  filter: hue-rotate(0turn) invert(0%);
}
